body {
    font-family: Verdana, sans-serif;
    background-color: #e6f2ff;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #0066cc;
    color: white;
    padding: 20px;
    border-bottom: 5px solid #004080;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s, transform 0.2s;
}

nav a:hover {
    color: yellow;
    transform: scale(1.1);
}

section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

h1, h2 {
    text-align: center;
    color: #004080;
}

section img {
    display: block;
    margin: 15px auto;
    max-width: 2500px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

input[type="submit"], button
